@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');


/*********  GLOBAL  **********/

section {
    margin: 0 1rem 2rem 1rem;
}


/******** Included to fix overflow issue - credit to Anna_Lead for picking this up and supplying (after submitting to peer-code-review in Slack) *********/

.row,
.container-fluid,
.container {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/********   Below snippet is taken from CSS Tricks and is needed to create a smooth scroll effect when clicking on the navbar and footer sections*/

html {
    scroll-behavior: smooth;
}

.btn-primary:focus {
    box-shadow: none;
}

/********  SPECIAL TEXT ********/

.uppercase {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Roboto;
    font-size: 1rem;
}

.main {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;

}

.centertext {
    text-align: center;
}

.white {
    color: white;
}

.heading {
    font-size: 2.75rem;
    margin: 1.5rem;
    color: #389a14;
}

/********  NAVBAR  ************/

/******* Phone Icon from Fontawesome needed to help hightlight the phone number in Navbar  ********/

.fa-phone-volume {
    padding: 0 10px;
}

.navbar .navbar-collapse {
    text-align: right;
}

/**********   The below code is credited to Stack Overflow (changed property values) - developer Zim.  ***********/

/**********   This was needed to help steer away from the standard bootstrap styling, it helped me understand the syntax and specificity required ********/

.navbar-custom {
    background-color: #389a14;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .navbar-brand:hover {
    color: #efe7e7;
}


.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #efe7e7;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/********  End of Code credited to Stack Overflow  *********/

/********  HEADER  ************/

.pos-logo {
    position: relative;

}

.pos-quote {
    position: relative;
    top: 3rem;
}

.pos-social {
    position: relative;
    top: 5rem;

}

#wrapper {
    background: url('../images/landing_comp.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
   

}

.logo {
    position: absolute;
    max-width: 750px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.getquote {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #dc3d47;
    color: #FEF5F5;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    padding: 14px 35px;
    display: block;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease;
   
}

.getquote:hover {
    background-color: #E15A62;
    text-decoration: none;
    color: #FEF5F5;
}


.jumbotron .container-fluid p {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    background-color: #389a14;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 4vw;
    position: relative;
    font-weight: 400
}

.social {
    text-align: center;
    list-style: none;
    padding: 25px 0;
}

.social li {
    margin-left: 5px;
    margin-right: 5px;
}

.social li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    color: #389a14;
    border: 1px solid #389a14;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
   

}

.social li a i:hover {
    background: #389a14;
    color: #fff;
}

.media {
    display: inline-block;
    text-align: center;
}

/********  ABOUT PAGE  ************/

#align {
    text-align: left;
}

.teamphoto {
    padding-right: 0;
    background-image: url("../images/frankandken.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    display: block;
    border-radius: 50px;
}

/******** OUR SERVICES PAGE ************/

/********  The below code was referenced from stack overflow and optimised to suit - developer Cristofer Vilander  ********/

/*******  It was needed in order to get the correct effect for a transparent transition block of text fading halfway up an image ********/

.pic {
    position: relative;
    overflow: hidden;
    display: block;
    height: auto;
    width: 100%;
    padding: 0px;
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background: #389a1482;
    transition: height 0.7s ease-out;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 15px;
}

/*******  End of the code referenced from Stack Overflow  *******/

.pic:hover>.text {
    height: 50%;
}

.text h3,
.text h4 {
    color: #ffffff;
}


.service {
    border-radius: 0px;
    padding: 5px;

}

.inner {
    padding: 15px 0px;
    border-radius: 60px;
}


.inner h2 {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 1.5vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #696469;
    color: #ffffff;
    opacity: 0;
    transition: 1s ease-in-out;
}

.inner:hover h2 {
    opacity: 1;
}

.inner h2 p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    top: 0;
    border-radius: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #696469;
    color: #ffffff;
    opacity: 0;
    transition: 1s ease-in-out;

}

.inner:hover h2 p {
    opacity: 1;
    font-size: 3vw;
}

.services h3 {
    text-align: center;
    margin: 10px;

}

.hedge {
    height: 300px;
}


/********  CONTACT PAGE  ********/

.small-logo {
    width: 75%;
    height: auto;
    clear: both;
    display: block;
}

.contact-details-item {
    display: block;
    margin: 20px;
    clear: both;
}

.contact-details-item .key,
.contact-details-item .value {
    display: inline-block;
    padding-right: 8px;
}

.contact-details-item .key p,
.contact-details-item .value p {
    margin: 0;
}

.contact-details-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.contact-details-item .value {
    position: relative;
    width: 45%;
}

.contact-details-item .value a {
    text-decoration: none;
}

.margin-tweak {
    margin-top: 10px;
}

.more-margin-tweak {
    margin-bottom: 15px;
}


/********  IMAGE BREAKERS  ********/

#mower {
    background-image: url("../images/mowing.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

#dirt {
    background-image: url("../images/dirt.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

#garden {
    background-image: url("../images/gardenpath.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}


/**********  FOOTER  ***********/

.footer {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.footer:hover {
    color: #efe7e7;
    text-decoration: none;
}

.footer-background-color {
    background-color: #389a14;

}

a:hover {
    text-decoration: none;
}


/**********  MEDIA QUERIES  ***********/
@media (min-width: 3001px) {
    .logo {
        max-width: 70%
    }
}

@media (min-width: 1850px) and (max-width: 3000px) {
    .logo {
        max-width: 1500px
    }
}

@media (min-width: 1024px) {
    .jumbotron .container-fluid p {
        font-size: 2.75rem;
    }
}

@media (min-width: 321px) and (max-width: 567px) {
    .main,
    .uppercase {
        font-size: 0.85rem;
    }
}

@media (max-width: 320px) {
    .heading {
        font-size: 2.25rem;
    }
}

@media (max-width: 320px) {
    .main,
    .uppercase {
        font-size: 0.75rem;
    }
}

@media (min-width: 568px) and (max-width: 991px) {
    .main {
        font-size: 1rem;
    }
}

@media (min-width: 568px) and (max-width: 1024px) {
    .uppercase {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    #mower,
    #garden,
    #dirt {
        background-attachment: scroll
    }
}

@media (max-width: 374px) {
    .contact-details-item {
        padding-left: 6%;
    }
}

@media (min-width: 374px) and (max-width: 767px) {
    .contact-details-item {
        padding-left: 9%;
    }
}

@media (max-width: 767px) {
    .contact-details-item .key {
        margin-right: 10px;
    }
}


@media (max-width: 767px) {
    .small-logo {
        margin: auto;
    }
}
