@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

html,body {
    height: 100%;
}
/******** Navbar ************/

.fa-phone-volume {
    padding: 0 10px;
}

.navbar .navbar-collapse {
    text-align: right;
}

/******** Header ************/

header {
    margin: 0;
}

.navbar-custom {
    background-color: #389a14;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    

.top {
    text-align: center;
    }

.stop {
    text-align: center;
}

.wrapper {
    background-image: url(../images/clouds-cornfield-countryside-158827.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    display: block;
    height: auto;
}

/*.middle {
    background-image: url("/assets/images/grass.jpg");
    background-size: cover;
    position: relative;
    width: 100%;*/
    
}

.callout {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
} 

#getquote {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: #E15A62;
    color: #FEF5F5;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    padding: 14px 35px;
    display: block;
    margin: auto;
    text-align: center;
}

#uppercase {
    text-transform: uppercase;
    padding: 15px;
    color: white;
    background-color: #696469;
    letter-spacing: 3px;
    text-align: center;
    display:block;
    border-radius: 5px;
    font-size: 3vw;
}



/******** Our Services ************/

section {
    
    }
    
.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.services {
    background-color: white;
    color: black;
    text-align: justify;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: absolute;
    height: 300px;
}

.image {
    border: dotted 1px pink;
}

.services h3 {
    text-align: center;
    margin: 10px;
    
}

#mower {
    background-image: url("/assets/images/mower.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    }

/*Media Queries*/

@media (max-width: 575px) {
    .top {
        position: absolute;
        top: 150px;
    }
    .stop {
        position: relative;
        top: 65px;
    }
    
@media (min-width: 969px) {
   .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }
}