@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

html, body {
    height: 100%;
}


header {
    margin: 0;
    
}
.fa-phone-volume {
    padding: 0 10px;
}



